{% extends 'base.html.twig' %}
{% block title %}{{parent()}} - ver entrada {% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container bg-white rounded my-3 p-4">
        <div class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight">
                <h3>{{entrada.user.firstName}} - Fichaje de Entrada</h3>
                <div class="my-3" style="color:#3282b8;">
                  <i class="fa fa-thumbs-up"></i><strong>
                </div>
                <div style="color:#5957a1;"> 
                    <i class="far fa-clock"></i> <strong>Fecha: {{ entrada.fechaPublicacion | date }}</strong>
                </div>
            </div>
        <hr>
        <div class="text-justify my-3">
            Comentario: {{ entrada.comentario }}
        </div>
      </div>
{% endblock %}