<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}F5!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>📋</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js')}}"></script>
            <script src="{{ asset('js/bootstrap.min.js')}}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="{{ path('app_dashboard') }}"><img src="../img/logo.png" style="height: 50px; margin: 0 30px 0 30px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('misEntradas') }}">Mis Entradas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('misSalidas') }}">Mis Salidas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_registro') }}">Registro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_crud_index') }}">Listado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('todosEntrada') }}">Todos Entrada</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                        </li>
                    </ul>
                    <p class="nav-link" style="float: right">
                    Hola {{ app.user.firstName }}</p>
                </div>
            </nav>
        {% endblock %}
    </body>
</html>
