{% extends 'base.html.twig' %}

{% block title %}
{{parent()}} - Dashboard
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-md-6 cursor">
            <center><button class="btn btn-lg btn-success" type="submit"><a class="nav-link" href="{{ path('app_entrada') }}">Fichaje Entrada</a></button></center>
            {% for entrada in pagination %}
                <div class="bg-white rounded p-3 my-3"  onclick="window.location.href='{{ path('VerEntrada',{id:entrada.id}) }}'">
                    <div class="d-flex bd-highlight">
                        <div class="p-2 flex-grow-1 bd-highlight">
                            <h4>Fichaje de Entrada de {{entrada.firstname}}</h4>
                            <div class="bg-yellow"> <i class="fa fa-user"></i><strong> Sede {{entrada.locacion}}</strong></div>
                            <div class=" bg-green"><i class="far fa-clock"></i>Fecha: {{ entrada.fecha_publicacion | date }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="col-md-6 cursor">
            <center><button class="btn btn-lg btn-primary" type="submit"><a class="nav-link" href="{{ path('app_salida') }}">Fichaje Salida</a></button></center>
            {% for salida in pagination %}
                <div class="bg-white rounded p-3 my-3"  onclick="window.location.href='{{ path('verSalida',{id:salida.id}) }}'">
                    <div class="d-flex bd-highlight">
                        <div class="p-2 flex-grow-1 bd-highlight">
                            <h4>Fichaje de Salida de {{salida.firstname}}</h4>
                            <div class="bg-yellow"> <i class="fa fa-user"></i><strong> Sede {{salida.locacion}}</strong></div>
                            <div class=" bg-green"><i class="far fa-clock"></i>Fecha: {{ salida.fecha_publicacion | date }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
